### Python is Case sensitive

In [3]:
name = "Sagar"
Name = "Kumar"
print(name)
print(Name)

Sagar
Kumar

## Indentation

Use For define Blocks of the Code.
Consistent use of spaces(commonly 4) or tab is required.
Many Other programming language are use braces{} to delimit the blocks of codes.
Python used Indentation to determine the groupings of statements.

In [4]:
# Multiple statement in a single line

a=5;b=6;c=a+b
print(c)

11

In [7]:
# type Inference

variable = 32
print(type(variable))

variable = "sagar"
print(type(variable))

<class 'int'>
<class 'str'>

In [8]:
#Decalring Variables and assigning 

name= "sagar"
age = 21
height = 5.10
weight = 78
is_student = True

# Printing Variable Types

print(type(name))
print(type(age))
print(type(height))
print(type(weight))
print(type(is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'bool'>

In [ ]:

# Naming Convention
# Variables names should be descriptive
# They must be start with a letter or '_' and contains lette,numbers and Underscore
# Variable name is case sensitive


#InValid Variable Names
2age = 30
first-name = 'sagar'
@name = "sagar"

In [12]:
#Valid Variables
name = "sagar"
age = 21
weight = 34.2

## Type Conversing

In [16]:
age=21
print(type(age))

age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
21
<class 'str'>

## Dynamic Typing
Python allows the type of variable to change as program execution

In [18]:

var = 10
print(type(var))


var = "Variable"
print(var,type(var))

var = 3.14
print(var,type(var))

<class 'int'>
Variable <class 'str'>
3.14 <class 'float'>

In [20]:
# By Giving Input manually
age=input("What is the age:")
print(age)

age=int(input("What is the age"))
print(age,type(age))

12
13 <class 'int'>

## SIMPLE CALCULATOR

In [23]:
num1 = float(input("Enter the fitst Number: "))
num2 = float(input("Enter the second Number: "))
sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum is: ",sum)
print("Difference is: ",difference)
print("Product is: ",product)
print("Quotient is: ",quotient)

Sum is:  23.0
Difference is:  -1.0
Product is:  132.0
Quotient is:  0.9166666666666666

## DATA Types

In [24]:
# Integer DataTypes
age=21
print(type(age))

# Floating point DataType
height = 5.10
print(type(height))

# String DataType
name = "sagar"
print(type(name))

#Boolean DataType
is_student=True
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [25]:
bool()

False

In [29]:
a=10
b=10
print(a==b)
print(type(a==b))

True
<class 'bool'>

In [34]:
# Type Casting
#   <--- result = "Hello" + 5.  --->

# Traceback (most recent call last)
# Cell In[30], line 2
#       1 # Type Casting
# ----> 2 result = "Hello" + 5 

# TypeError: can only concatenate str (not "int") to str

result = "Hello" + str(5)
print(result)

Hello5

In [35]:
print("HELLO")

HELLO